name: validate

on: [push]

jobs:
  pylint:
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/workflows/setup_environment.yml
    - name: pylint
      run: |
        poetry run pylint --fail-under 9.5 ./
